.form-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desire-styler {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

button {
  height: 3rem;
}

button:hover {
  cursor: grab;
  background-color: orange;
  color: red;
}

input {
  height: 2rem;
  font-size: large;
}